body{
  text-align: center;
  background: linear-gradient(to right, #ED4264 , #FFEDBC);
}
h1{
  margin-top: 150px;
  font-size: 3rem;
  letter-spacing: 20px;
  width: 100%;

}

h3{
  margin-top :250px;
  color: white;
  background: black;
  width: 50%;
  margin-left: 400px;
}